@keyframes suba {
    from {
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);

    }

    to {
        box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
        scale: 1.04;
    }
}
@keyframes eita {
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(0deg);
    }
    50%{        
        transform: rotate(12deg);
    }
    100%{
        transform: rotate(-12deg);
    }
}

#section1 {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
    animation: suba 3s alternate ease-in-out;
    animation-delay: 3s;
    background-color: blanchedalmond;
}

button{
    transition: 1s ease-in-out;
}

button:hover{
    animation: eita 1s infinite alternate ease-in-out;
}
